RewriteEngine On
RewriteRule    ^([A-Za-z0-9-]+)$    ?q=$1
RewriteRule    ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)$    ?q=$1&v1=$2   
RewriteRule    ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)$    ?q=$1&v1=$2&v2=$3  
RewriteRule    ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)$    ?q=$1&v1=$2&v2=$3&v3=$4